.mi-SP {

	// -------------- HOMEPAGE SWITCH PARTNER ----------------- //
	&-Header {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		background-color: #fff;

		.elementor-nav-menu--dropdown {
			background-color: #fff;
			position: absolute;
			right: -16px;
			top: 50px;
			z-index: 999;
			width: 100vw;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		}
	}

	&-SearchbarMaps {
		.elementor-search-form__container {
			gap: 1px;
		}

		.elementor-search-form__input {
			border-radius: 10px 0 0 10px !important;
			border: 0 !important;
		}
	}

	&-ContactForm {
		button {
			background: #393d47 !important;

			&:hover {
				background: #1d1f24 !important;
			}
		}
	}

	&-newMapsFilter {
		display: flex;

		@media (max-width: 675px) {
			display: block;
		}
	}

	&-ExpertisePost {
		.elementor-posts-container>article {
			transition: all 0.4s ease;

			&:hover {
				background-color: #393d47 !important;

				.elementor-post__text a,
				p {
					color: #fff !important;
				}
			}
		}
	}

	&-StoreLocator {
		.wpsl-search {
			background-color: rgba(255, 255, 255, 0) !important;
			padding: 0 !important;
			margin-bottom: 48px !important;

			.wpsl-select-wrap {
				display: none !important;
			}

			.wpsl-input label {
				display: none !important;
			}

			form {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			input {
				height: 45px !important;
			}

			.wpsl-input {
				margin-bottom: 0 !important;
				margin-right: 1px !important;
				width: 100%;

				input {
					width: 100% !important;
					border-radius: 8px 0 0 8px !important;
					border: none !important;
				}
			}

			.wpsl-search-btn-wrap {
				input {
					// background: #fff !important;
					background: url(http://dev-bs-ms-sp.test/wp-content/uploads/2023/02/magnifying-glass.svg) !important;
					background-repeat: no-repeat !important;
					background-position: center !important;
					background-color: #fff !important;
					border-radius: 0 8px 8px 0 !important;
					border: none !important;
					margin-right: 0 !important;
					position: relative;
					width: 50px;

					@media (max-width: 570px) {
						margin-bottom: 15px !important;
					}
				}
			}
		}
	}

	// -------------- END HOMEPAGE SWITCH PARTNER ----------------- //
}