// Header
.header-menu-lp {
    nav {
        ul {
            li {
                a.elementor-item {
                    &:hover {
                        background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;

                        &::after {
                            background-image: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                        }
                    }


                }
            }
        }
    }
}

// Logo card
.mi-logo-card {
    background: transparent;

    &:hover {
        background-image: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
        border-radius: 10px;
    }

    .elementor-widget-container {
        margin: 5px;
    }
}

.mi-search-bar {
    .elementor-search-form__container {
        gap: 1px;
        background: transparent !important;

        input.elementor-search-form__input {
            border-radius: 10px 0px 0px 10px !important;
            border-width: 0 !important;

            &::placeholder {
                color: #575757 !important;
                opacity: 1 !important;
            }
        }
    }




}

// Review Section
.mi-review {
    .swiper-wrapper {
        margin-bottom: 32px;

        .swiper-slide {
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            padding: 20px !important;

            .elementor-testimonial {
                display: flex;
                gap: 20px;

                .elementor-testimonial__header {
                    flex-direction: column;
                    padding: 0 !important;
                    width: 30%;
                    justify-content: center;
                    align-items: center;

                    .elementor-testimonial__image {
                        display: block;
                        width: max-content;

                        img {
                            width: 108px;
                            height: 108px;
                        }
                    }

                    .elementor-testimonial__cite {
                        span.elementor-testimonial__title {
                            display: none;
                        }
                    }
                }

                .elementor-testimonial__content {
                    padding: 0 !important;

                    .elementor-testimonial__text {
                        display: flex;
                        gap: 8px;
                        flex-direction: column;

                        h3.review-name {
                            margin: 0 !important;
                            font-size: 24px;
                            line-height: 30px;
                            text-transform: capitalize;
                        }

                        p.review-subtitle {
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.2em;
                            text-transform: capitalize;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .swiper-pagination {

        span.swiper-pagination-bullet {
            background: transparent;
            opacity: 1;
            content: url(/wp-content/uploads/2023/02/Ellipse-46.svg);
        }

        span.swiper-pagination-bullet-active {
            background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
        }
    }
}

// address section-scrollbar landing page
section.mi-address-section {
    .elementor-container {
        .mi-bodyswitch-address {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 500px;

            &::-webkit-scrollbar {
                width: 4px;
                background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                border-radius: 25px;
            }

            &::-webkit-scrollbar-thumb {

                .elementor-widget-container {
                    padding: 5px;
                }

                background: #61A945;
                outline: 4px solid #61A945;
                border-radius: 25px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
                border-radius: 5px;
                background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                display: none;
                height: 80px;
            }
        }
    }


}


// address section-scrollbar plaats page
section.mi-plaats-section {
    .elementor-container {
        .mi-bodyswitch-plaats {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 500px;

            &::-webkit-scrollbar {
                width: 4px;
                background: white;
                border-radius: 25px;
            }

            &::-webkit-scrollbar-thumb {

                .elementor-widget-container {
                    padding: 5px;
                }

                background: white;
                outline: 4px solid white;
                border-radius: 25px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
                border-radius: 5px;
                background: white;
                display: none;
                height: 80px;
            }
        }
    }
}

// Contact
.mi-contact-form {
    .elementor-field-group {
        padding-right: 12px !important;
        padding-left: 12px !important;
        margin-bottom: 24px !important;

        .elementor-field-label:after {
            color: #575757;
        }

        button {
            background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);

            &:hover {
                background-color: #4C7637;
            }
        }
    }
}

// wpsl plugin
.mi-SP-StoreLocator.wpsl-plaats {
    .wpsl-search {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        #wpsl-search-wrap {
            @media (min-width: 1200px) {
                width: 65%;
            }

            form {
                gap: 1px;
            }

        }
    }

    .mi-SP-newMapsFilter {
        #wpsl-gmap {
            height: 500px !important;
        }

        #wpsl-result-list {
            padding-left: 48px;

            #wpsl-stores {
                height: 500px !important;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 4px;
                    background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                    border-radius: 25px;
                }

                &::-webkit-scrollbar-thumb {

                    .elementor-widget-container {
                        padding: 5px;
                    }

                    background: #61A945;
                    outline: 4px solid #61A945;
                    border-radius: 25px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
                    border-radius: 5px;
                    background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                    display: none;
                    height: 80px;
                }
            }
        }
    }
}

.mi-SP-StoreLocator.wpsl-lp {
    .wpsl-search {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        #wpsl-search-wrap {
            @media (min-width: 1200px) {
                width: 65%;
            }

            form {
                gap: 1px;
            }

        }
    }

    .mi-SP-newMapsFilter {
        #wpsl-gmap {
            height: 500px !important;
        }

        #wpsl-result-list {
            padding-left: 48px;

            #wpsl-stores {
                height: 500px !important;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 4px;
                    background: white;
                    border-radius: 25px;
                }

                &::-webkit-scrollbar-thumb {

                    .elementor-widget-container {
                        padding: 5px;
                    }

                    background: white;
                    outline: 4px solid white;
                    border-radius: 25px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
                    border-radius: 5px;
                    background: white;
                    display: none;
                    height: 80px;
                }
            }
        }
    }
}