.mi-contact-right-side {
    @media (min-width: 768px) and (max-width: 980px) {
        height: 900px;
    }

    @media (min-width: 1024px) {
        height: 950px;
    }

    .mi-text-align-left {
        .elementor-button-icon {
            i.fas:before {
                background: linear-gradient(135deg, #61A945 0%, #006DA8 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                background-clip: text;
            }
        }

        .elementor-button-text {
            text-align: left;


        }
    }
}

// .mi-single-desc-li {
//     .elementor-widget-container {
//         ul {

//             li::marker {
//                 content: url(/wp-content/uploads/2023/02/circle-check.svg);
//             }
//         }
//     }
// }